<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 NOT FOUND</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="/img/logo-mercado-liebre.svg" type="image/x-icon">
</head>

<body>
    <header>
        <figure><img src="/img/logo-mercado-liebre.svg" alt="logo"></figure>
        <section>
            <h2>Lugar para poner la barra de búsqueda</h2>
            <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
            <nav>
                <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav>
                <ul class="menu">
                    <li><a href="#">Creá tu cuenta</a></li>
                    <li><a href="#">Ingresá</a></li>
                    <li><a href="#">Mis compras</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main>
        <article class="section404">
            <h2>👨‍💻 Error dato no encontrado... 👩‍💻</h2>
            <figure>
                <img src="https://media.giphy.com/media/9J7tdYltWyXIY/giphy.gif" alt="404 imagen">
            </figure>
        </article>
    </main>
    <!-- <audio src="/assent/piano.mp4" autoplay></audio> -->
    <script src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/53932b54f0.js" crossorigin="anonymous"></script>
</body>

</html>